################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/TwitchDesktopNotifications/bin
/TwitchDesktopNotifications/obj
/.vs
/TwitchDesktopNotifications/App.config
/TwitchDesktopNotifications/TwitchDetails.cs
